[data-theme="light"] {
  --c-dark-1: #FFFFFF;
  --c-dark-2: #F5F5F5;
  --c-dark-3: #E0E0E0;

  --c-gray-1: #1A1A1A;
  --c-gray-2: #4D4D4D;
  --c-gray-3: #999999;

  --c-accent-start: #FF4080;
  --c-accent-end: #FF0080;

  --c-white: #000000;
  --c-text: var(--c-gray-1);
  --c-bg: var(--c-dark-1);
  --c-bg-alt: var(--c-dark-2);
  --c-bg-popup: var(--c-dark-3);
}